<title>
  <%= gettext(
        "Verified contracts - %{network} %{subnetwork} Explorer",
        network: BlockScoutWeb.LayoutView.network_title(),
        subnetwork: BlockScoutWeb.LayoutView.subnetwork_title()
    ) %>
</title>
<meta name="keywords" content="<%= gettext "Verified contracts, %{subnetwork}, %{coin}", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title(), coin: Explorer.coin() %>">
<meta name="description" content="<%= gettext "View the verified contracts on %{subnetwork}", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title() %>">
