<title>
  <%= gettext("%{network} %{subnetwork} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext "ZERA Explorer provides analytics data for the %{network} %{subnetwork}", network: LayoutView.network_title(), subnetwork: LayoutView.subnetwork_title() %>">
<meta name="keywords" content="ZERA Explorer, blockchain, analytics, address, smart contract">
